# Node dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing coverage
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# MacOS files
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/prisma/migrations/ # Ignore migrations if you do not want to include them
*.db-journal # Ignore SQLite journal files

# SQLite database (if using a dev database locally)
!prisma/dev.db # Include the SQLite dev database for easy setup

# Environment files
.env*
!.env.example # Include an example environment file for users to configure

# Vercel configuration
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

# IDE settings
.vscode/
.idea/
*.sublime-workspace
